* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --colorfondo: #f5e6d3;
  --colorprimario: #a0522d;
  --colorsecundario: #87a96b;
  --colordetallesoro: #d4a437;
  --colordetallesrosa: #c47a6d;
  --blanco: #ffffff;
  --gris-suave: #f8f8f8;
}

main {
  background-color: var(--colorfondo);
}

h1,h2,h3 {
  font-family: "Playfair Display", Georgia, serif;
  color: var(--colorprimario);
  margin-bottom: 1rem;
}

h1{
  font-size: clamp(2rem, 4rem, 3rem);
}
